@charset "UTF-8";

/* =======================================
    헤더 영역 : 기본
======================================= */

/* All Device 
모든 해상도를 위한 공통 코드를 작성한다. 모든 해상도에서 이 코드가 실행됨. 
1920~ 1199px
*/

/* .background1{
  width: 100%;
  height:600px;
  background-color : red;
  position: relative;
  top : 32px;
  left : 0;
  position : fixed;
}

.background2{
  width: 100%;
  height:600px;
  background-color : green;
  position: relative;
  top : 670px;
  left : 0;
  position : fixed;
}

.background3{
  width: 100%;
  height:200px;
  height:1800px;
  background-color : blue;
  position: relative;
  top :1270px;
  left : 0;
  position : fixed;
} */
.space-align-container {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.space-align-block {
	flex: none;
}

.font_white {
	color: #fff;
}

.font_black {
	color: #000;
}

.font_gray {
	color: #d6d6d6;
}

.br {
	display: none;
}

.gray {
	background-color: #f8f8f8;
}

.center {
	text-align: center;
}

.txt_bold {
	font-weight: 500;
}

@media screen and (max-width: 576px) {
	.br {
		display: inline-block;
	}
}
