@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/* =======================================
    헤더 영역 : 기본
======================================= */

/* All Device 
모든 해상도를 위한 공통 코드를 작성한다. 모든 해상도에서 이 코드가 실행됨. 
1920~ 1199px
*/

/* =======================================
    Content (About Quantec)
======================================= */

/* All Device 
모든 해상도를 위한 공통 코드를 작성한다. 모든 해상도에서 이 코드가 실행됨. 
1920~ 1199px
*/
.sns_wrap {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	text-align: left;
}

.sns_box {
	width: 32%;
	padding: 0;
	margin-right: 1.9%;
	margin-top: 7.44%;
}

.sns_box:nth-child(1),
.sns_box:nth-child(2),
.sns_box:nth-child(3) {
	margin-top: 0;
}

.sns_box:nth-child(3n) {
	margin-right: 0;
}

.sns_img_box {
	width: 100%;
	object-fit: contain;
}

.sns_img_box a {
	width: 100%;
}

.sns_txt_box {
	width: 100%;
	margin-top: 6.43%;
}

.sns_name {
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #b9b9b9;
}

.sns_txt_wrap {
	display: inline-block;
	width: 100%;
}

.sns_title {
	display: inline-block;
	width: 100%;
	margin-top: 0.98%;
	font-size: 18px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: -0.56px;
	font-family: Noto Sans KR;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #000;
}

.sns_view_box {
	margin-top: 9.82%;
	background-image: url("../assets/images/ic-sub-04-sns-viewline.svg");
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: auto 1px;
}

.sns_view_list {
	display: inline-block;
	padding-bottom: 1.84%;
}

.sns_view {
	font-family: "Roboto Condensed";
	font-size: 14px;
	font-weight: bold;
	font-stretch: condensed;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #249feb;
	display: inline-block;
}

.sns_plus {
	display: inline-block;
	width: 15.6%;
	vertical-align: top;
	margin-top: 0.5%;
}

/* Tablet Device 대응
사용자 해상도가 991px 이하일 때 이 코드가 실행됨. 미디어쿼리를 지원 
*/
@media screen and (max-width: 991px) {
	.sns_box {
		width: 30.7%;
		margin-right: 3.8%;
		margin-top: 8.04%;
	}

	.sns_txt_box {
		margin-top: 8.06%;
	}

	.sns_title {
		margin-top: 1.84%;
		font-size: 16px;
		font-weight: bold;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: -0.5px;
		font-family: Noto Sans KR;
	}

	.sns_view_box {
		margin-top: 13.19%;
	}

	.sns_view_list {
		padding-bottom: 2.2%;
	}
}

/* Large Moblie 대응
사용자 해상도가 768px 이하일 때 이 코드가 실행됨. 미디어쿼리를 지원 
*/
@media screen and (max-width: 768px) {
	.sns_box {
		width: 48%;
		margin-right: 3.2%;
		margin-top: 13.28%;
	}

	.sns_box:nth-child(1),
	.sns_box:nth-child(2) {
		margin-top: 0;
	}

	.sns_box:nth-child(3) {
		margin-top: 13.28%;
		margin-right: 3.2%;
	}

	.sns_box:nth-child(3n) {
		margin-right: 3.2%;
	}

	.sns_box:nth-child(2n) {
		margin-right: 0;
	}

	.sns_txt_box {
		margin-top: 7.66%;
	}

	.sns_title {
		margin-top: 1.75%;
	}

	.sns_view_box {
		margin-top: 16.71%;
	}

	.sns_view_list {
		padding-bottom: 2.09%;
	}
}

/* Medium Moblie 대응
사용자 해상도가 576px 이하일 때 이 코드가 실행됨. 미디어쿼리를 지원 
*/
@media screen and (max-width: 576px) {
	.sns_box {
		width: 100%;
		margin-right: 0;
		margin-top: 14.79%;
	}

	.sns_box:nth-child(1) {
		margin-top: 0;
	}

	.sns_box:nth-child(2n) {
		margin-right: 0;
		margin-top: 14.79%;
	}

	.sns_box:nth-child(3n) {
		margin-right: 0;
		margin-top: 14.79%;
	}

	.sns_txt_box {
		margin-top: 3.19%;
	}

	.sns_title {
		margin-top: 1.07%;
	}

	.sns_view_box {
		margin-top: 8.7%;
		background-image: url("../assets/images/line-sub-04-sns-viewline-576.svg");
		background-repeat: no-repeat;
		background-position: left bottom;
		background-size: auto 1px;
	}

	.sns_view_list {
		padding-bottom: 1.07%;
	}
}
